:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    & ::-webkit-scrollbar {
        width: 12px;
    }

    & ::-webkit-scrollbar-thumb {
        background-color: #ffffff35; /* Set the color of the thumb */
        border-radius: 10px;
    }

    & ::-webkit-scrollbar-track {
        background-color: #242424; /* Set the color of the track */
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

h1 {
    font-size: 2.2rem;
    line-height: 1.1;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;

    & header-wrapper {
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: space-between;
        border-bottom: 1px solid grey;

        & left-side {
            @media (width < 450px) {
                & h1 {
                    font-size: 1.2rem;
                }
            }
        }

        & right-side {
            display: flex;
            align-items: center;
            width: 25%;
            gap: 1rem;

            & .switch {
                position: relative;
                display: inline-block;
                width: 30px;
                height: 25px;

                & input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                & .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: -25px;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                    border-radius: 20px;

                    &:before {
                        position: absolute;
                        content: '';
                        height: 16px;
                        width: 16px;
                        left: 6px;
                        bottom: 5px;
                        background-color: white;
                        -webkit-transition: 0.4s;
                        transition: 0.4s;
                        border-radius: 20px;
                    }
                }

                & input:checked + .slider {
                    background-color: #2196f3;
                }

                & input:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }
            }
        }
    }
}

countries-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    & search-and-filter {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 2rem 3;
        padding: 15px;

        @media (width < 450px) {
            flex-direction: column;
            gap: 1rem;
            margin: 1rem 0;
        }

        & left-side {
            display: flex;
            align-items: center;
            width: 25%;
            padding: 0.5rem 1rem;

            @media (width < 450px) {
                width: 100%;
            }

            & iconify-icon {
                position: absolute;
                padding-left: 0.5rem;
            }

            & input[type='search'] {
                padding-inline: 2rem;
                border-radius: 10px;
                border: none;
                height: 35px;
                font-size: 1rem;
                width: 100%;
                background-color: #3b3b3b;
                color: rgb(169, 167, 167);

                &:focus-visible {
                    border: 1px solid grey;
                    outline: none;
                }
            }
        }

        #anzahl{
            width:50%;
            background-color: blue;
            text-align: center;
            padding: 3px;
            margin:auto;
            color: yellow;
            font-weight: bolder;
        }

        & right-side {
            width: 25%;
            padding: 0.5rem 1rem;
            margin: auto;
            & select {
                margin: auto; /* muss anders ist nicht in der Mitte*/
                padding: 8px;
                height: 35px;
                border-radius: 10px;
                background-color: #3b3b3b;
                font-size: 1rem;
                border: none;
                color: rgb(169, 167, 167);

                &:focus-visible {
                    border: 1px solid grey;
                    outline: none;
                }
            }
                
            @media (width < 450px) {
                min-width: 100px;
                width: 100%;
            }
    }
    }

    & countries-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 2rem;
        width: 90%;

        @media (width < 450px) {
            grid-template-columns: 1fr;
            gap: 1rem;
        }

        & country-item {
            border-radius: 20px;
            overflow: hidden;
            background-color: #213547;

            & img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-bottom: 1px solid black;

                @media (width < 769px) {
                    height: auto;
                }
            }

            & .country-info {
                cursor: pointer;
                padding: 2rem;
            }
        }
    }
}
